<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <footer th:fragment="footer" class="bg-dark text-white py-4 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <h5>Tour & Travel</h5>
                    <p>Explore the world with our carefully curated travel experiences.</p>
                    <div class="social-icons">
                        <a href="#" class="text-white me-2"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="text-white me-2"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="text-white me-2"><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white" th:href="@{/packages}">Tour Packages</a></li>
                        <li><a href="#" class="text-white" th:href="@{/destinations}">Destinations</a></li>
                        <li><a href="#" class="text-white" th:href="@{/about}">About Us</a></li>
                        <li><a href="#" class="text-white" th:href="@{/contact}">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-4 mb-3">
                    <h5>Contact Info</h5>
                    <address>
                        <p><i class="bi bi-geo-alt"></i> 123 Travel Street, City, Country</p>
                        <p><i class="bi bi-telephone"></i> +1 (123) 456-7890</p>
                        <p><i class="bi bi-envelope"></i> info@tourandtravel.com</p>
                    </address>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 text-center">
                    <p class="mb-0">&copy; <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}">2025</span> Tour & Travel. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>