<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <header th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" th:href="@{/}">Tour & Travel</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/packages}">Tour Packages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/destinations}">Destinations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/about}">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/contact}">Contact</a>
                        </li>
                    </ul>
                    <div class="navbar-nav">
                        <div sec:authorize="!isAuthenticated()">
                            <a class="nav-link" th:href="@{/login}">Login</a>
                            <a class="nav-link" th:href="@{/register}">Register</a>
                        </div>
                        <div sec:authorize="isAuthenticated()" class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" 
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <span sec:authentication="name">Username</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                <li sec:authorize="hasRole('ROLE_USER')">
                                    <a class="dropdown-item" th:href="@{/user/dashboard}">My Dashboard</a>
                                </li>
                                <li sec:authorize="hasRole('ROLE_USER')">
                                    <a class="dropdown-item" th:href="@{/user/bookings}">My Bookings</a>
                                </li>
                                <li sec:authorize="hasRole('ROLE_USER')">
                                    <a class="dropdown-item" th:href="@{/user/profile}">My Profile</a>
                                </li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')">
                                    <a class="dropdown-item" th:href="@{/admin/dashboard}">Admin Dashboard</a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form th:action="@{/logout}" method="post">
                                        <button type="submit" class="dropdown-item">Logout</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</body>
</html>